# Java / Spring Boot
target/
*.class
*.jar
*.war
*.log

# IDE files
.idea/
.vscode/
*.iml

# OS files
.DS_Store
Thumbs.db

# Node (if used)
node_modules/

# Environment files
.env

# Build folders
dist/
build/